<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>

    {{>scripts}}

</head>

<body>

    <!-- Navegacion-->

    {{>navbar}}

    <center>
    <div class="jumbotron">
        <h1 class="display-4">Hola, Vasquez Perez Luis Gerardo</h1>
        <p class="lead">Numero de control: 16210586 Carrera: Ing. Sistemas Computacionales</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="mongodb+srv://vasquez:16210586@cluster0.gvflt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority" role="button">Home</a>
         <a class="btn btn-primary btn-lg" href="mongodb+srv://vasquez:16210586@cluster0.gvflt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority/users/register" role="button">Registro</a>
         <a class="btn btn-primary btn-lg" href="mongodb+srv://vasquez:16210586@cluster0.gvflt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority/auth/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="mongodb+srv://vasquez:16210586@cluster0.gvflt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority/insertProduct" role="button">Insertar</a>
        <a class="btn btn-primary btn-lg" href="mongodb+srv://vasquez:16210586@cluster0.gvflt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority/api/product" role="button">Productos</a>
        </p>
    </div>
    </center>
    {{{body}}}

    <!-- Footer o pie de pagina-->

</body>

</html>